#board {
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	box-sizing: content-box;
	border: 10px solid black;
}

.boardSquare {
	user-select: none;
}
